@import "../../Variables/SassVariables.scss";

.advertise-container {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 1365px;
  left: -24px;
  padding-top: 189px;
  position: relative;
  width: 375px;
  z-index: 1;

  .advertise-info {
    color: $grey;
    font-size: 16;
    margin-bottom: 92px;
    margin-top: 0;
    text-align: center;
    width: 327px;
  }

  .advertise-title {
    color: $darkViolet;
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 28px;
  }

  .green-line {
    background-color: $cyan;
    height: 800px;
    position: absolute;
    top: 380px;
    width: 8px;
    z-index: -1;
  }
}
